#language {
	position: absolute;
	right: 30px;
	top: 15px;
}

img,
video {
	max-width: 400px;
	height: auto;
}
a {
	display: inline-block;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

nav {
	position: sticky;
	top: 0px;
	background-color: #262a2b;
	color: white;
	font-family: "Rubik", sans-serif;
	font-size: 15px;
	z-index: 100;
	border-bottom: 1px solid black;
}

#nav-container {
	height: 170px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 0em 2.5em 0em 2.5em;
	transition: all 0.5s ease;
}

#nav-text:hover {
	text-shadow: 1px 1px 3px white;
	cursor: pointer;
}

#logo {
	width: 100px;
	transition: all 0.5s ease;
	margin-left: 2em;
}

#logo:hover {
	cursor: pointer;
	-webkit-animation: pulsate 3s linear infinite;
	-moz-animation: pulsate 3s linear infinite;
	animation: pulsate 3s linear infinite;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes pulsate {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(0.85);
	}
	to {
		transform: scale(1);
	}
}
@-webkit-keyframes pulsate {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(0.85);
	}
	to {
		transform: scale(1);
	}
}

@keyframes pulsate {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(0.85);
	}
	to {
		transform: scale(1);
	}
}

.grid-container {
	display: grid;
	max-width: 100%;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: min-content;
}

dt,
dd {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: justify;
	padding: 20px;
	font-size: 20px;
	margin: 0;
	border-bottom: 1px dotted #abb2bf;
}

dt {
	grid-column: span 1;
}

dd {
	grid-column: span 3;
}

dd p {
	padding: 0;
	margin: 0em 0em 1em 0em;
}

.headerDisease {
	font-weight: bold;
}

.info-table {
	border: 1px solid black;
	width: 90%;
	margin: 1em auto 3em auto;
}

.info-table-body {
	padding: 0 1em 0 1em;
}

.info-table-header h1 {
	background-color: #262a2b;
	color: white;
	text-align: left;
	font-size: 1.5em;
	padding: 0.5em;
	margin: 0;
}

.no-bottom-border {
	border-bottom: none;
}

#content-container {
	display: flex;
}

#menu {
	position: sticky;
	top: 171px; /* nav height */
	height: 100vh;
	background-color: #262a2b;
	padding: 1em 2em 1em 2em;
	color: white;
	overflow-y: scroll;
	flex-shrink: 0;
	transition: all 0.5s ease;
}

#menu ul {
	padding: 0;
}

#menu li {
	margin: 1em 0em 1em 0em;
	list-style-type: none;
}

nav.minimized #nav-container {
	height: 75px;
	font-size: 0.5em;
}

nav.minimized #logo {
	width: 50px;
}

#menu p:hover {
	color: rgb(0, 204, 255);
	cursor: pointer;
}

.menu-element > p {
	width: max-content;
}

#info-table-container {
	margin: auto;
}

.highlight {
	color: rgb(0, 204, 255);
}

.subelement-list {
	display: none;
}

.subelement-list li {
	color: gray;
}

.subelement-list li:hover {
	color: rgba(0, 204, 255, 0.5);
	cursor: pointer;
}
