#language {
	position: absolute;
	right: 20px;
	top: 15px;
	width: 0.8em;
	height: auto;
}

table {
	width: 90%;
	border: 1px solid black;
	border-collapse: collapse;
	margin: 4em auto 2em auto;
}

td {
	border: 1px solid black;
}
td:first-child,
td.img-td {
	text-align: center;
}

img {
	max-width: 40%;
	max-height: auto;
}
