.search-header {
	position: relative;
	background-color: #262a2b;
	background-size: 100% 100%;
	height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	font-family: "Rubik", sans-serif;
}

.search-header.topbar {
	animation-name: createNav;
	animation-duration: 1s;
	height: 20vh;
	position: fixed;
	top: 0px;
	z-index: 100;
	border-bottom: 1px solid white;
}

.bold-desc {
	font-weight: 900;
	color: white;
}

.disease h3 {
	text-transform: capitalize;
}

@keyframes createNav {
	from {
		height: 100vh;
	}
	to {
		height: 20vh;
	}
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.search-title {
	font-family: "Rubik", sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 50px;
	transition: all 1s ease;
}

.search-text-container {
	position: absolute;
	left: 10vw;
	top: 10vh;
	transition: all 1s ease;
}
.search-text-container.topbar {
	position: absolute;
	left: 2vw;
	top: 2vh;
	font-size: 12px;
}

.disease p::first-letter {
	text-transform: capitalize;
}

@media (max-width: 520px) {
	.search-text-container.topbar {
		display: none;
	}
}

.search-text-container.topbar .search-title {
	font-size: 20px;
}

.search-logo {
	position: absolute;
	right: 10vw;
	top: 10vh;
	width: 15vw;
	transition: 1s all ease;
}

.search-header.topbar .search-logo {
	position: absolute;
	right: 5vw;
	top: 3vh;
	width: 5vw;
}

.home-search-bar {
	position: absolute;
	top: 52vh;
	width: 40vw;
	left: 30vw;
	transition: all 1s ease;
}

.home-search-bar input {
	padding: 15px;
	width: 100%;
	border-radius: 50px;
	border: none;
	margin-left: -15px;
}

.home-search-bar.topbar {
	top: 5vh;
}

@media (max-width: 768px) {
	.home-search-bar {
		position: absolute;
		top: 52vh;
		width: 60vw;
		left: 20vw;
	}
	.home-search-bar input {
		margin: 0px;
	}
	.home-search-bar input {
		width: 90%;
	}
}

.results img {
	width: 300px;
}

.blue {
	color: #262a2b !important;
}

.search-options {
	position: absolute;
	top: 10px;
	right: 30px;
}

.results {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.results p {
	font-size: 20px;
	margin: 50px;
}

.searcher-container button {
	padding: 10px;
	border-radius: 20px;
	border: none;
	background-color: #65a334;
	color: white;
}

.search-options-container {
	width: 180px;
	padding: 20px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	top: 155px;
	left: 19vw;
	height: 100px;
	background-color: white;
	animation-name: appear;
	animation-duration: 0.5s;
	z-index: 1;
}
.search-options-container.topbar {
	top: 90px;
}

.search-options-container:after {
	content: " ";
	width: 50px;
	height: 50px;
	background-color: white;
	transform: rotate(45deg);
	position: absolute;
	top: -10px;
	z-index: 0;
	left: 80px;
}

@keyframes appear {
	from {
		opacity: 0;
		height: 0px;
	}
	to {
		opacity: 1;
		height: 100px;
	}
}

#search-options-container .label {
	position: absolute;
	margin-left: 70px;
	color: #252727;
	z-index: 1;
	top: -10px;
	font-size: 20px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin-top: 10px;
	z-index: 1;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0px;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider.green {
	background-color: #65a334;
}

input:focus + .slider.green {
	box-shadow: 0 0 1px #65a334;
}

input:checked + .slider.blue {
	background-color: #5493c4;
}

input:focus + .slider.blue {
	box-shadow: 0 0 1px #5493c4;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.reverse-description {
	font-size: 13px;
	color: black;
}

/* Results container */

.results-container {
	margin-top: 22vh;
}

.results-container .tilesWrap {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	z-index: 0;
	position: relative;
}
.results-container .tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: "helvetica", san-serif;
	min-height: 25vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
}
.results-container .tilesWrap li h2 {
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.results-container .tilesWrap li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.results-container .tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: #b7b7b7;
	margin-top: 5px;
}
.results-container .tilesWrap li button {
	background: transparent;
	border: 1px solid #b7b7b7;
	padding: 10px 20px;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
.results-container .tilesWrap li button:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 120%;
	background: #b7b7b7;
	top: 0;
	opacity: 0;
	left: -140px;
	border-radius: 0 20px 20px 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
}
.results-container .tilesWrap li:hover button {
	transform: translateY(5px);
	opacity: 1;
	z-index: 2;
}
.results-container .tilesWrap li button:hover {
	color: #262a2b;
}
.results-container .tilesWrap li button:hover:before {
	left: 0;
	opacity: 1;
}
.results-container .tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}

.results-container .tilesWrap li:before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.results-container .tilesWrap li:after {
	content: "";
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}
.results-container .tilesWrap .virus:before {
	background: #9dff89;
	background: -webkit-linear-gradient(to right, #ffafbd, #9dff89);
	background: linear-gradient(to right, #ffafbd, #9dff89);
}

.results-container .tilesWrap .disease:before {
	background: #6bafd5;
	background: -webkit-linear-gradient(to right, #ffafbd, #6bafd5);
	background: linear-gradient(to right, #ffafbd, #6bafd5);
}

.suggestion-results {
	position: absolute;
	top: 56.8vh;
	background-color: white;
	left: 29vw;
	width: 42vw;
}

.suggestion-single-result {
	padding: 10px;
	border-bottom: 1px solid black;
	/* border-radius: 20px; */
}

.results-container .tilesWrap li:empty {
	background-image: linear-gradient(
			100deg,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 80%
		),
		linear-gradient(#ffffff 150px, transparent 0),
		linear-gradient(#ffffff 20px, transparent 0),
		radial-gradient(
			circle 17.5px at 17.5px 17.5px,
			#ffffff 16.5px,
			transparent 17.5px
		),
		linear-gradient(#262a2b, 380px, transparent 0);
	background-repeat: no-repeat;
	background-size: 50px 450px, 200px 450px, 100px 450px, 35px 450px,
		270px 450px;
	background-position: 0 0, 50px 150px, 50px 100px, 220px 45px, 20px 20px;
	animation: shineForSkeleton 1s infinite;
}
@keyframes shineForSkeleton {
	to {
		background-position: 100% 0, 50px 150px, 50px 100px, 220px 45px,
			20px 20px;
	}
}

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	left: 17vw;
	top: 100px;
	height: 80px;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #5493c4;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
