.disease-container {
  background-color: #262a2b;
  color: white;
  font-family: "charter", sans-serif;
  height: 100%;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.disease-header {
  margin: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: #1b1e1f;
}

.disease-name {
  padding: 0;
}

.disease-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.disease-abstract {
  margin-left: 30%;
  margin-right: 30%;
  letter-spacing: -0.003em;
  line-height: 32px;
  font-size: 21px;
}

.disease-image {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.disease-seeAlso {
  letter-spacing: -0.003em;
  line-height: 25px;
  font-size: 16px;
}

.disease-seeAlso-link {
  text-decoration: none;
  color: white;
}

.disease-footer {
  background-color: #1b1e1f;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.disease-newResearch-button {
  padding: 4px 12px 6px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: aliceblue;
  line-height: 20px;
  font-size: 14px;
  font-family: sohne;
  background-color: #1b1e1f;
  color: aliceblue;
  cursor: pointer;
}
