.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.results img{
  width:300px;
}

.results {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.home-search{
  padding: 15px;
    width: 60vw;
    border-radius: 50px;
    border: none;
    margin: 20px;
}

.results p{
  font-size: 20px;
  margin: 50px;
}

.disease-searcher-container button{
  padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #65a334;
    color: white;
}

